@import url(css/navegador.css);
@import url(css/secao.css);
@import url(css/responsivo.css);
:root{
	--cor-cinza: #b1b0b0;
	--cor-vermelho: #7c0303;
	--fundo: #e9e2e2c4;
	--pagina: #e9e2e2;
	--titulo: #ccc9c9;
	--sombra:#00000078;
	--fundo-dropdown:#ccc9c9;
	--texto-padrao:#000000;
	--cor-texto-botao:#FFFFFF;
	--cor-botao-selecionado:#7c0303;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(imagem/logo10.png);
}

footer {
	text-align: center;
	background: url("imagem/bg.jpg");
	padding: 10px 0;
}
.copyright {
	color: var(--fundo);
	font-size: 13px;
	margin: 5px 0 0;
}
.img-rdp {
	width: 32px;
	height: 30px;
	align-items: center;
}